body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Nav bar css */
.navbar.custom-navbar {
    background-color: #003366 !important;
}
.btn.custom-btn {
    background-color: #A8E4F2;
    color: #003366;
    border: none;
    border-radius: 9999px;
}

.btn.custom-btn:hover {
    background-color: white;
}
/*Container css */
h2.intro-title, h3.intro-title, p.intro-title {
    color: #003366;
}
/*Login page */
.login-page {
    background-color: #A8E4F2;
    width: 100%;

}
.btn.login-btn {
    background-color: #003366;
}
.btn.back-btn {
    color:#003366;
}
.btn.signup-btn {
    color: #003366;
}

/*Admin sidebar*/
.admin-sidebar {
    width: 250px;
    position: sticky;
    height: calc(81vh + 125px);
    background-color: #A8E4F2;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 1rem; 
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.admin-sidebar__greeting {
    color: #1E3A8A;
    font-weight: bold;
    font-size: 1.25rem; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1.5rem; 
}

.admin-sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    flex-grow: 1;
}

.admin-sidebar__link {
    width: 100%;
    color: #1E3A8A;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    text-decoration: none;
    display: block;
    background-color: white;
}

.admin-sidebar__link.active {
  background-color: #003366; 
  color: white;
  font-weight: 600;
}

.admin-sidebar__logout {
    width: 100%;
    background-color: white;
    color: #1E3A8A;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
}

.admin-sidebar__logout:hover {
    background-color: #d9eefe;
}